<%= link_to goat_path(goat) do %>
  <div class="card-goat">
    <div class="pokemons-container">
      <div class="card-goat-cuteness">
        <%= "🦄#{goat.cuteness}" %>
      </div>
      <div class="card-goat-speed">
        <%= "🌾#{goat.speed}" %></i>
      </div>
      <%= cl_image_tag goat.photo.key, class: "img" %>
    </div>
    <div class="card-goat-infos">
      <div class="description">
        <h2><%= goat.name %> - <%= goat.gender == "Male" ? "♂" : "♀" %></h2>
        <p><em><%= goat.color %></em></p>
        <p><%= goat.description %></p>
      </div>
      <h2 class="card-goat-pricing"><%= "#{goat.price} €/day" %></h2>
      <%= cl_image_tag goat.user.photo.key, crop: :fill, class: "card-goat-user avatar-bordered" %>
    </div>
  </div>
<% end %>
