
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.squarespace-cdn.com/content/v1/5caca181348cd9096a444787/1572890025029-IL5H5OOKV17KLSULPB6O/bailey-mahon-AlfgSap679Y-unsplash.jpg?format=1500w);">
  <div class="container">
    <div class="logo"></div>
    <h1>Let's Goat!</h1>
    <p>There's a goat for every occasion.</p>
    <br>
    <br>
    <%= simple_form_for :search,  url: goats_path , method: :get do |f| %>
      <%= f.input :query, autofocus: true, label: "What kind of goat are you looking for?" %>
      <div class="date-container">
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
      <%= f.submit "Search", class: "btn btn-fluo" %>
    <% end %>
  </div>
</div>

<br>
<br>

<div class="container">
  <h2>Take a look at our cutest goats 😌</h2>
  <div class="cards">
    <% @goats.each do |goat| %>
      <%= render "components/card" %>
    <% end %>
  </div>
</div>
