<h1>Your Dashboard</h1>

  <div class="profil">
    <div class="avatar-container">
      <%= render "components/avatar" %>
      <h2>Hi <%=current_user.first_name%>!</h2>
    </div>
  </div>


  <h2>My Goats</h2>
  <div class="cards">
    <% @goats.each do |goat| %>
      <%= render "components/card_goat", goat: goat, class:"d-block w-100" %>
    <%end%>
  </div>

  <h2>My Bookings</h2>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div>
        <p><%= booking.start_date.strftime('%a %d %b %Y')%> - <%= booking.end_date.strftime('%a %d %b %Y') %>:</p>
        <% goat = booking.goat %>
        <%= render "components/card_goat", goat: goat%>
      </div>
    <%end%>
  </div>
