
<div class='show-goat'>
  <h1 class='display-4'><%= @goat.name %></h1>
  <div class="goat-img">
  </div>

  <div class = 'goat-info'>
   <p>Gender: <%= @goat.gender %></p>
   <p>Color: <%= @goat.color %></p>
   <p>Speed: <%= @goat.speed %></p>
   <p>Cutness:<%= @goat.cuteness %></p>
  </div>

  <p>Dzedfghjklmlkjhgtrdfghjklmlkjhytredcvghjklmlkjhgtresxcvghjklm:;,nhgfdxcvbhnj</p>
</div>

<%if @goat.user == current_user%>
  <%= link_to "Delete #{@goat.name}",
              goat_path(@goat),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  <%= link_to 'Edit', edit_goat_path(@goat) %>
<%end%>
